<link rel="stylesheet" href="/css/components/comunidade.css">
<h1>
  Comunidade
</h1>

<div class="centro">
  <div class="come-comunidade">
    <div class="mais-lido">
      <div class="cabeca-main">
        HQ Mais Lido.
      </div>
      <div id="preencheMaisLido" class="caixa-main">
        <div class="centro">
          <span>
            One Piece.
          </span>
        </div>
        <div class="centro">
          <img src="/img/base/img5.jpg" class="imghqmaislido" alt="imghq">
        </div>
        <div class="centro">
          <span>
            Capitulos: 1030.
            <hr>
            Criado em: 11/06/2004.
            <hr>
            Autor: Eichiro Oda.
            <hr>
            Tipo: Manga.
          </span>
        </div>
        <hr>
        colorido: não.
        <br>
        finalizado: não.
      </div>
    </div>

    <div class="aba-discussoes">
      <div class="cabeca-main relativocoment">
        Aba de discussões.
      </div>
      <div id="preencheAbaDiscussoes" class="caixa-main scrollcria">
        <div class="centro">
          <button class="btn btncomentario">
            COMENTAR
          </button>
        </div>
        <hr>
        <div class="centro comecomentario">
          <img src="/img/base/cudojuliano.jpg" class="perfilfoto" alt="pessoa">
          <div class="nomecomentarista">
            USER: lucas marcao.
          </div>
          <div class="comentariotxt">
            <span>
              Comentário: Eu tenho muita vontade de namorar, mas sou um
              fracassado, o que eu posso fazer pra ser gente?
              <hr>
              obs: não vale falar smt.
            </span>
          </div>
        </div>

        <div class="centro comecomentario">
          <img src="/img/base/ixi_cropped.jpeg" class="perfilfoto" alt="pessoa">
          <div class="nomecomentarista">
            USER: Marcaozitos.
          </div>
          <div class="comentariotxt">
            <span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              non quidem excepturi quibusdam iure
              quaerat, alias id corrupti vero esse, magni necessitatibus
              soluta. Enim, saepe sunt esse labore id alias.
              <hr>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              non quidem excepturi quibusdam iure
              quaerat, alias id corrupti vero esse, magni necessitatibus
              soluta. Enim, saepe sunt esse labore id alias.
            </span>
          </div>
        </div>

        <div class="centro comecomentario">
          <img src="/img/base/login.png" class="perfilfoto" alt="pessoa">
          <div class="nomecomentarista">
            USER: Marcaozitos.
          </div>
          <div class="comentariotxt">
            <span>
              Comentário: Eu tenho muita vontade de namorar,
              mas sou um lixo.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="mais-nota">
      <div class="cabeca-main">
        HQ com a Melhor Nota.
      </div>
      <div id="preencheMaisNota" class="caixa-main">
        <div class="centro">
          <img src="/img/base/img2.jpg" class="imghqnota" alt="imghq">
          <span class="notatexto">
            HQ: Bleach.
            <hr>
            Nota: 9.
            <hr>
            Autor: Sujiro kimideoku
          </span>
        </div>
      </div>
    </div>

    <div class="menos-nota">
      <div class="cabeca-main">
        HQ com a Pior Nota.
      </div>
      <div id="preencheMenosNota" class="caixa-main">
        <div class="centro">
          <img src="/img/base/img8.jpg" class="imghqnota" alt="imghq">
          <span class="notatexto">
            HQ: Jujutsu Kaisen.
            <hr>
            Nota: 2.
            <hr>
            Autor: Sujiro Kimimami
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/estilosComponent.js"></script>