<link rel="stylesheet" href="/css/components/contato.css">
<h1>
  Fale com a gente.
</h1>
<div class="centro">
  <main>

    <div class="cabeca-main">
      apresentação
    </div>

    <div class="caixa-main">
      <div class="background-img">
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="content">
            <h2>My animated Border </h2>
            <p>
              eu quero goza
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>